name: Build & Test

on:
  push:
    branches:
      - main
      - v1.X
      - release/beta
  pull_request:
    branches:
      - main
      - v1.X
      - release/beta

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  run-build-test:
    name: Run Build & test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 18, 20, 22 ]
    permissions:
      contents: read
      actions: write

    steps:
      - name: Check out git repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: "yarn"

      - name: Install yarn dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Test
        run: yarn test
